.blackbut {
  font-size: 15px;
  background-color: #000000;
  border-radius: 0px;
  padding: 8px 60px;
  margin-bottom: 20px;
}

.blackbut > span {
  color: #fff;
}

.m-8 {
  margin: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.font-semibold {
  font-weight: 600;
}

.grid {
  display: grid;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex {
  display: flex;
}

.justify-around {
  justify-content: space-around;
}

.justify-around {
  justify-content: space-around;
}

.justify-items-end {
  justify-items: end;
}
